@using X.PagedList
@model X.PagedList.IPagedList<Lemon.Models.Usuario>
<link rel="stylesheet" href="~/css/tablas.css">
<link rel="stylesheet" href="~/css/Usuarios/index.css">
@{
    ViewData["Title"] = "Usuarios";
}
<div class="topUsuarios mt-2 pb-2" style="background-color: white;">
    <div class="col-md-4 col-11 d-flex justify-content-center">
        <a asp-action="Create" type="button" class="btn btn-outline-dark btn-success text-white">Registrar usuario <i class=" fa-solid fa-plus fa-lg" style="color: #ffffff;"></i></a>
    </div>
    <div class="col-md-6 col-11 mt-md-0 mt-2">
        <div class="input-group">
            <input id="buscarUsuario" type="text" class="form-control" placeholder="Buscar usuario" aria-label="Search" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" onclick="vaciarInput()" type="button" id="button-addon2"><i class="fa-solid fa-magnifying-glass fa-2xl" style="color: gray; font-size:30px;"></i></button>
        </div>
    </div>
    <div class="col-md-2 col-11 d-flex justify-content-center mt-md-0 mt-2">
        <a onclick="generarPdf('Usuarios','Usuarios')" style="background:#ebebeb;" class="btn btn-outline-dark "><i class="fa-solid fa-file-pdf fa-xl" style="color: #000000;"></i></a>
    </div>
</div>

<article class="col-12 " style="overflow-x:auto; background:white; height:345px;">
    <div class="mt-2 border border-color-black ms-2 me-2" style="border-radius:10px; min-width:1100px;">
        <div style="height:5px; background:#ebebebeb; border-top-right-radius:10px; border-top-left-radius:10px;"></div>
        <table id="tablaUsuarios" class="mb-2 col-12">
            <thead>
                <tr>
                    <th>Id usuario</th>
                    <th>Usuario</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <th colspan="4">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="usuariosPaginado">
                        <td>
                            @Html.DisplayFor(modelItem => item.IdUsuario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreUsuario)
                        </td>
                        <td onclick="mostrarInformacionCompleta(this,'correoModal')" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#modal">
                            @Html.DisplayFor(modelItem => item.Correo)
                        </td>
                        <td>
                            @if (item.IdRolNavigation != null)
                            {
                                @Html.DisplayFor(modelItem => item.IdRolNavigation.Nombre)
                            }
                        </td>
                        <td>
                            @if (item.Estado == 1)
                            {
                                <span>Activo</span>
                            }else if (item.Estado == 2)
                            {
                                <span>Nuevo</span>
                            }else{
                                <span>Inactivo</span>
                            }
                        </td>
                        <td class="pegarDerecha">
                            @if (item.Estado == 0)
                            {
                                <button style="background:white; border:0; cursor:default;">
                                    <i class="fa-solid fa-key" style="color: gray;"></i>
                                </button>
                            }
                            else
                            {
                                <button data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background:white; border:0;" id="btnCambiarContraseña" onclick="obtenerDatos('@item.IdUsuario','@item.Correo')">
                                    <i class="fa-solid fa-key" style="color: #000000;"></i>
                                </button>
                            }
                        </td>
                        <td class="px-2 border-0 pegarDerecha">
                            @if (item.Estado == 1)
                            {
                                <a asp-action="Update" asp-route-id="@item.IdUsuario"><i id="Icono" class="fa-solid fa-pen"></i></a>
                            }
                            else
                            {
                                <a style="cursor:default;"><i id="Icono" class="fa-solid fa-pen" style="color:gray;"></i></a>
                            }
                        </td>
                        <td class="px-2 border-0 pegarCentro">
                            @if (item.Estado == 2)
                            {
                                <label class="switch">
                                    <input type="checkbox" checked disabled>
                                    <span class="slider" style="background:gray;"></span>
                                </label>
                            }
                            else
                            {
                                <label class="switch">
                                    <input id="@item.IdUsuario" type="checkbox" @(item.Estado == 1 ? "checked" : "") onchange="cambiarEstado(this)">
                                    <span class="slider"></span>
                                </label>
                            }
                        </td>
                        <td class="px-3 border-0 pegarIzquierda">
                            @if (item.Estado != 0)
                            {
                                <a onclick="eliminarUsuario(@item.IdUsuario)"><i class="fa-solid fa-trash"></i></a>
                            }
                            else
                            {
                                <a style="cursor:default;"><i class="fa-solid fa-trash" style="color:gray;"></i></a>
                            }
                        </td>
                    </tr>
                }
                @{
                    var usuarios = ViewData["Usuarios"] as List<Usuario>;
                    if (usuarios != null)
                    {
                        foreach (var usuario in usuarios)
                        {
                            <tr class="usuariosTodos" style="display:none;">
                                <td>@usuario.IdUsuario</td>
                                <td>@usuario.NombreUsuario</td>
                                <td onclick="mostrarInformacionCompleta(this,'correoModal')" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#modal">@usuario.Correo</td>
                                <td>
                                    @if (usuario.IdRolNavigation != null)
                                    {
                                        @usuario.IdRolNavigation.Nombre
                                    }
                                </td>
                                <td>
                                    @if (usuario.Estado == 1)
                                    {
                                        <span>Activo</span>
                                    }
                                    else if (usuario.Estado == 2)
                                    {
                                        <span>Nuevo</span>
                                    }
                                    else
                                    {
                                        <span>Inactivo</span>
                                    }
                                </td>
                                <td class="pegarDerecha">
                                    @if (usuario.Estado == 0)
                                    {
                                        <button style="background:white; border:0; cursor:default;">
                                            <i class="fa-solid fa-key" style="color: gray;"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background:white; border:0;" id="btnCambiarContraseña" onclick="obtenerDatos('@usuario.IdUsuario','@usuario.Correo')">
                                            <i class="fa-solid fa-key" style="color: #000000;"></i>
                                        </button>
                                    }
                                </td>
                                <td class="px-2 border-0 pegarDerecha">
                                    @if (usuario.Estado == 1)
                                    {
                                        <a asp-action="Update" asp-route-id="@usuario.IdUsuario"><i id="Icono" class="fa-solid fa-pen"></i></a>
                                    }
                                    else
                                    {
                                        <a style="cursor:default;"><i id="Icono" class="fa-solid fa-pen" style="color:gray;"></i></a>
                                    }
                                </td>
                                <td class="px-2 border-0 pegarCentro">
                                    @if (usuario.Estado == 2)
                                    {
                                        <label class="switch">
                                            <input type="checkbox" checked disabled>
                                            <span class="slider" style="background:gray;"></span>
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="switch">
                                            <input id="@usuario.IdUsuario" type="checkbox" @(usuario.Estado == 1 ? "checked" : "") onchange="cambiarEstado(this)">
                                            <span class="slider"></span>
                                        </label>
                                    }
                                </td>
                                <td class="px-3 border-0 pegarIzquierda">
                                    @if (usuario.Estado != 0)
                                    {
                                        <a onclick="eliminarUsuario(@usuario.IdUsuario)"><i class="fa-solid fa-trash"></i></a>
                                    }
                                    else
                                    {
                                        <a style="cursor:default;"><i class="fa-solid fa-trash" style="color:gray;"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</article>
@* <script>
    window.open('/ReporteClientes.pdf', '_blank');
</script> *@
<div class="pagination-container mt-2 mb-4">
    @if (Model != null && Model.PageCount > 1)
    {
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation bg-dark">
                <ul class="pagination">

                    <!-- Botón para la página anterior (oculto en la página 1) -->
                    <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                        <a class="page-link" href="?page=@(Model.PageNumber - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <!-- Iterar sobre las páginas disponibles -->
                    @for (var i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="?page=@i">@i</a>
                        </li>
                    }

                    <!-- Botón para la página siguiente (oculto en la última página) -->
                    <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                        <a class="page-link" href="?page=@(Model.PageNumber + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    }
</div>
@if (TempData["SuccessMessage"] != null)
{
    <script>
        Swal.fire({
            icon: 'success',
            text: 'Datos guardados exitosamente',
            timer: 2000,
            timerProgressBar: true,
            confirmButtonColor: '#000000',
            showConfirmButton: true
        })
    </script>
}

<script src="~/js/Usuarios/index.js"></script>
<script src="~/js/reportes.js"></script>
<script src="~/js/mostrarInfoCompleta.js"></script>


<style>
    
</style>

<!-- Modal cambiar password -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="vaciarDatos()"></button>
            </div>
            <div class="modal-body">
                <form>
                    <span style="word-wrap: break-word;" id="correoCambiar"></span>
                    <br/><br />
                    <input type="text" id="username" name="username" aria-hidden="true" style="position: absolute; left: -9999px;" autocomplete="username">

                    <label class="control-label">Nueva contraseña</label>
                    <div style="display:flex;">
                        <input id="inputContraseñaNueva" autocomplete="new-password" class="form-control" oninput="mostrarOcultarValidacionNueva()" type="password" style="border-top-right-radius: 0; border-bottom-right-radius: 0;" />
                        <button onclick="mostrarOcultarContraseña('inputContraseñaNueva','iconoEyeNuevo')" type="button" style="background:white; border:1px solid #ced4da; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">
                            <i id="iconoEyeNuevo" class="fa-solid fa-eye"></i>
                        </button>
                    </div>
                    <span id="textoValidarContraseñaNueva" class="text-danger"></span>


                    <label class="control-label mt-3">Confirmar contraseña</label>
                    <div style="display:flex;">
                        <input id="inputConfirmarContraseña" autocomplete="new-password" class="form-control" oninput="mostrarOcultarValidacionConfirmacion()" type="password" style="border-top-right-radius: 0; border-bottom-right-radius: 0;" />
                        <button onclick="mostrarOcultarContraseña('inputConfirmarContraseña','iconoEyeConfirmar')" type="button" style="background:white; border:1px solid #ced4da; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">
                            <i id="iconoEyeConfirmar" class="fa-solid fa-eye"></i>
                        </button>
                    </div>
                    <span id="textoValidarConfirmarContraseña" class="text-danger"></span>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal" onclick="vaciarDatos()" id="btnCancelarModal">Cancelar</button>
                <button type="button" class="btn btn-success" onclick="validarCambiarContraseña()">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para mostrar la informacion completa -->
<div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="tituloModal"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="vaciarDatos()"></button>
            </div>
            <div class="modal-body">

                <span id="correoModal" style="word-wrap: break-word;"></span>
                <span id="nombreRSModal" style="word-wrap: break-word;"></span>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal" >Volver</button>
            </div>
        </div>
    </div>
</div>